/* Fonts:
  https://github.com/vedees/webpack-template/blob/master/README.md#import-js-files
  ========================================================================== */

@import 'mixins';

/*
  One of the ways:
  1. handle method,
  2. use mixin;
*/

// 1. Example handle method (without mixin):

/*
  // Base Helvetica (example):
  @font-face {
    font-family: "Helvetica-Base";
    src: url('/assets/fonts/Helvetica/Base/Helvetica-Base.eot'); // IE9 Compat Modes
    src: url('/assets/fonts/Helvetica/Base/Helvetica-Base.eot?#iefix') format('embedded-opentype'), // IE6-IE8
         url('/assets/fonts/Helvetica/Base/Helvetica-Base.woff') format('woff'), // Pretty Modern Browsers
         url('/assets/fonts/Helvetica/Base/Helvetica-Base.ttf')  format('truetype'), // Safari, Android, iOS
         url('/assets/fonts/Helvetica/Base/Helvetica-Base.svg') format('svg'); // Legacy iOS
  }
*/

// 2. Example with mixin (example):

/* NOTE:
  1. do NOT use expansion (.woff, .svg etc) for path! Path will be '/assets/fonts/OpenSans/opensans;
  2, files required: `.woff, .woffs` (by default) OR `eot. .woff, .woffs, .svg, .ttf` if you use another mixin.
*/

// Base OpenSans:
@include font-face("Open Sans", "../fonts/open-sans/OpenSans-Regular");
@include font-face("Open Sans", "../fonts/open-sans/OpenSans-Light", 300);
@include font-face("Open Sans", "../fonts/open-sans/OpenSans-SemiBold", 600);
@include font-face("Open Sans", "../fonts/open-sans/OpenSans-Bold", 700);

// Base SF Pro
@include font-face("SF Pro", "../fonts/roboto/Roboto-Regular");
@include font-face("SF Pro", "../fonts/roboto/Roboto-Bold", 700);
