/* Vars:
  ========================================================================== */

// Font
$mainFont                : 'Open Sans', Helvetica, sans-serif;

// Size
$mainFontColor           : #1d1d1d;
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.3;

$desktopWidth            : 1600px;
$smDesktopWidth          : 1280px;
$bigTableWidth           : 1024px;
$tableWidth              : 1024px;
$regularTableWidth       : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$white                   : #ffffff;
$background-gray         : #f1f3f4;
$line-gray               : #e4e7ea;
$dark-gray               : #9ea3af;
$blue-gray               : #798897;
$blue-sky                : #00aec7;
$blue                    : #00558c;
$black                   : #1d1d1d;
$deep-black              : #000000;
$red                     : #d61e3d;
$orange                  : #ff5842;
$gray                    : #f5f5f5;
$teal                    : #00aec7;
$coolgray                : #888d8d;
$neutral-gray            : #dee2e9;
$bg-gray                 : #f7f9fd;
$default-lightgray       : #dee2e9;
$default-transparentgray : #a8a8ac;

//gradients
$orange-gradient         : linear-gradient(135deg, #FEB984 0%, #FF5542 100%);
$red-gradient            : linear-gradient(178.12deg, #FF566D 0%, #D61E3D 100%);
$blue-gradient           : linear-gradient(135deg, #50D1F1 0%, #074FB1 100%);
$dark-gradient           : linear-gradient(135deg, #5F86EC 0%, #7C4CB0 100%);

// Transition
$transition-default: all 300ms ease-out;

// Border-radius
$border-radius: 10.5px;
$unit: 8px;
