.price-list {
  width: 100%;
  padding-top: $unit * 3;
  padding-bottom: $unit * 10;

  @media (max-width: 767px) {
    padding-top: $unit * 10;
  }
}

.price-list__list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  row-gap: $unit * 8;

  @media (max-width: 767px) {
    row-gap: $unit * 4;
  }
}

.price-list__preview {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: $unit;

  p {
    margin: 0;
    font-size: 18px;
  }
}
