.sidebar {
  min-width: $unit * 30;
  padding: $unit * 3;
  position: sticky;
  font-family: 'Roboto', 'Open Sans', Helvetica, sans-serif;

  @media (max-width: 1023px) {
    top: 0;
    left: 0;
    background-color: white;
    margin: 0;
    width: 100%;
    position: fixed;
    z-index: 3;
    box-shadow: 0 0 1px 4px rgb(0 0 0 / 27%);
    padding: $unit * 3 0;
  }
}

.sidebar__navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: $unit * 2;
  height: 100vh;

  @media (max-width: 1023px) {
    row-gap: 0;
    border-top: 1px solid $black;
    margin-top: 24px;
  }
}

.sidebar__logo {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: $unit * 3;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #be66ff;

  @media (max-width: 1023px) {
    text-align: center;
    margin: 0;
  }
}

.sidebar__link {
  font-size: 16px;
  line-height: 1;
  color: $black;
  transition: all 300ms ease-in-out;
  text-decoration: none;
  border-bottom: 1px solid $black;

  &:hover,
  &:focus {
    border-color: transparent;
  }

  @media (max-width: 1023px) {
    padding: 16px;
    width: 100%;
    text-align: center;

    &:hover,
    &:focus {
      border-bottom: 1px solid $black;
    }
  }
}

.sidebar__header {
  @media (max-width: 1023px) {
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.sidebar__menu-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
}

